@charset "utf-8";

main {
    width: 600px;
    height: 600px;
    padding: 2em;
    border-radius: 10px;
}
    main section#home {
        height: 400px;
    }
    main section#home div img {
        width: 150px;
    }
    main section#home div h2 {
        font-size: 36pt;
    }
    main section#home div:first-child {
        padding: 1.5em;
    }
    main section#home div:nth-child(2) {
        padding: 0 1em;
    }

    main section#works #btn-close {
        top: -15px;
        right: -15px;
    }
